.chat--message__box
  .chat--message__upper
    %p.chat--message__upper__user
      = message.user.name
    %p.chat--message__upper__time
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .chat--message__text
    - if message.text.present?
      %p.chat-message__content
        = message.text
    = image_tag message.image.url, class: 'message__image' if message.image.present?
