.contents
 
  .chat 
    .chat--header
      .chat--header-__name__box
        .chat--header__name current_group
        .chat--header__member member:hatena
      .chat--header__edit
        =link_to 'Edit','http://google.co.jp'
        
    .chat--message  
      .chat--message__box 
        .chat--message__upper
          %p.chat--message__upper__user kari
          %p.chat--message__upper__time 21
        .chat--message__text あああああ
    .chat--form
      .chat--form--input--box
        =form_tag('/message', method: :post)  do
          %input.chat--form--input--box__text(placeholder="type a message" type="text" name="message")
          %label.chat--form--input--box__image
            = fa_icon 'photo', class: "side--header__icon2"
            %input.chat--form--input--box__image__file(placeholder="Image Url" type="file" name="image")
      %input.chat--form--submit(type="submit" value="Send")
        
