.contents
  .side
    .side--header
      .side--header--box 
        .side--header__user
          = current_user.name
        .side--header__icon
          =link_to new_group_path class: "contents__btn" do
            = fa_icon "pencil-square-o", class: "side--header__icon1"
          =link_to edit_user_path(current_user) ,class: "contents__btn" do
            = fa_icon 'gear', class: "side--header__icon2"
    .side--groups         
      .side--groups__group
        .side--groups__group__name
          - current_user.groups.each do |group|
            =link_to  group_messages_path(group) do
              .side-groups__group__name__list
                =group.name
                .side-groups__group__name__list__message
                  メッセージはまだありません